<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div class="container">

    <div class="wait card">

      <div class="roomInfo">
        <h1>Nom de la room</h1>
        <h2 class="roomName"><%= roomName %></h2>
      </div>

      <div class="playersInfo">
        <h1>Participants</h1>
        <ul>
          <li>Macin 1 <img src="/images/Couronne.svg" alt=""></li>
          <li>Macin 2</li>
          <li>Macin 3</li>
          <li>Macin 4</li>
        </ul>
      </div>

    </div>

  </div>
</body>

</html>